header {
	padding: 10px;
	text-align: center;
}

header a, header a:hover {
	display: inline-block;
	margin-right: 10px;
	padding: 5px 10px;
	color: #1a1a1a !important;
	text-decoration: none;
  font-size: .875rem;
}